In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
movie_titles = pd.read_csv("./data/Movie_Id_Titles.txt")

In [16]:
df['date'] = pd.to_datetime(df['timestamp'], unit="s")

In [19]:
#df.groupby(by=['user_id'])
a = df.sort_values(by=['user_id', 'date'])

In [22]:
u1 = a[a['user_id'] == 1]

In [27]:
u1['session'] = (u1['timestamp'] - u1['timestamp'].shift(1) > 60*20).fillna(0).cumsum(skipna=False)

/home/anton/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
u1['rating'] = 0.5*(u1['rating'] - 3)

/home/anton/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
u1

       user_id  item_id  rating  timestamp                date  session
59972        1      168     1.0  874965478 1997-09-22 21:57:58        0
92487        1      172     1.0  874965478 1997-09-22 21:57:58        0
74577        1      165     1.0  874965518 1997-09-22 21:58:38        0
48214        1      156     0.5  874965556 1997-09-22 21:59:16        0
15764        1      196     1.0  874965677 1997-09-22 22:01:17        0
22971        1      166     1.0  874965677 1997-09-22 22:01:17        0
21626        1      187     0.5  874965678 1997-09-22 22:01:18        0
9170         1       14     1.0  874965706 1997-09-22 22:01:46        0
12948        1      250     0.5  874965706 1997-09-22 22:01:46        0
53552        1      127     1.0  874965706 1997-09-22 22:01:46        0
972          1      117     0.0  874965739 1997-09-22 22:02:19        0
38193        1      181     1.0  874965739 1997-09-22 22:02:19        0
40519        1      109     1.0  874965739 1997-09-22 22:02:19        0
32236        1        1     1.0  874965758 1997-09-22 22:02:38        0
20470        1      246     1.0  874965905 1997-09-22 22:05:05        0
10480        1      248     0.5  874965954 1997-09-22 22:05:54        0
38751        1      257     0.5  874965954 1997-09-22 22:05:54        0
45796        1       50     1.0  874965954 1997-09-22 22:05:54        0
1382         1      253     1.0  874965970 1997-09-22 22:06:10        0
24896        1      249     0.5  874965970 1997-09-22 22:06:10        0
8844         1      262     0.0  875071421 1997-09-24 03:23:41        1
16673        1      224     1.0  875071484 1997-09-24 03:24:44        1
31376        1       93     1.0  875071484 1997-09-24 03:24:44        1
77073        1      124     1.0  875071484 1997-09-24 03:24:44        1
85557        1       19     1.0  875071515 1997-09-24 03:25:15        1
51616        1      137     1.0  875071541 1997-09-24 03:25:41        1
60926        1      123     0.5  875071541 1997-09-24 03:25:41        1
22669        1      146     0.5  875071561 1997-09-24 03:26:01        1
70539        1        7     0.5  875071561 1997-09-24 03:26:01        1
4974         1      235     1.0  875071589 1997-09-24 03:26:29        1
...        ...      ...     ...        ...                 ...      ...
17672        1      100     1.0  878543541 1997-11-03 07:52:21        6
18304        1      154     1.0  878543541 1997-11-03 07:52:21        6
20175        1        9     1.0  878543541 1997-11-03 07:52:21        6
42456        1      169     1.0  878543541 1997-11-03 07:52:21        6
47539        1      178     1.0  878543541 1997-11-03 07:52:21        6
47860        1       87     1.0  878543541 1997-11-03 07:52:21        6
54634        1       16     1.0  878543541 1997-11-03 07:52:21        6
1299         1      222     0.5  878873388 1997-11-07 03:29:48        7
6541         1      258     1.0  878873389 1997-11-07 03:29:49        7
3171         1      266    -1.0  885345728 1998-01-21 01:22:08        8
14425        1      255    -0.5  885345822 1998-01-21 01:23:42        8
4306         1      272     0.0  887431647 1998-02-14 04:47:27        9
35409        1      271    -0.5  887431672 1998-02-14 04:47:52        9
478          1       20     0.5  887431883 1998-02-14 04:51:23        9
13638        1      129     1.0  887431908 1998-02-14 04:51:48        9
3431         1      221     1.0  887431921 1998-02-14 04:52:01        9
5533         1        6     1.0  887431973 1998-02-14 04:52:53        9
85377        1      244    -0.5  887431973 1998-02-14 04:52:53        9
87831        1       18     0.5  887432020 1998-02-14 04:53:40        9
27216        1      270     1.0  888732827 1998-03-01 06:13:47       10
8737         1      209     0.5  888732908 1998-03-01 06:15:08       10
25255        1       32     1.0  888732909 1998-03-01 06:15:09       10
305          1      189     0.0  888732928 1998-03-01 06:15:28       10
10922        1      242     1.0  889751633 1998-03-13 01:13:53       11
687          1      171     1.0  889751711 1998-03-13 01:15:11       11
88259        1      111     1.0  889751711 1998-03-13 01:15:11       11
30479        1      256     0.5  889751712 1998-03-13 01:15:12       11
47638        1        5     0.0  889751712 1998-03-13 01:15:12       11
3248         1       74    -1.0  889751736 1998-03-13 01:15:36       11
19699        1      102    -0.5  889751736 1998-03-13 01:15:36       11

[272 rows x 6 columns]